@import '../../scss/style.scss';

.wrapper {
  max-width: 754px;
  margin: 0 auto;
  @include media-tablet {
    padding: 0 5px;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    flex-direction: column;
  }
}

.sid-bar {
  width: 232px;
  flex-shrink: 0;
  margin: 0 20px 0 0;
  @include media-tablet {
    display: block;
    width: auto;
    margin: 0 auto 10px;
    width: auto;
  }
}
.content {
  width: 502px;
  @include media-tablet {
    margin: 0 auto;
    width: 400px;
  }
  @include media-mobile {
    width: auto;
  }
}
