@import '../../scss/style.scss';

.container {
  display: flex;
  flex-direction: column;
  background: $block-color;
  font-family: $default-font;
  color: $text-color;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 20px;
}
.text {
  padding: 20px;
  @include media-tablet {
    display: none;
  }
}
.check-input {
  position: absolute;
  font-size: 1px;
  appearance: none;
}
.check-box {
  margin-left: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../../public/img/off.svg);
}

.check-input:checked + .check-box {
  background-image: url(../../../public/img/on.svg);
}

.option {
  padding: 10px 20px 10px 50px;
  &:hover {
    background-color: $hover-color;
    transition-duration: 0.2s;
    cursor: pointer;
  }
}
